@for $i from 1 through 100 {
    .mx-#{$i},
    .ml-#{$i} {
        margin-left: #{$i}px;
    }
    .mx-#{$i},
    .mr-#{$i} {
        margin-right: #{$i}px;
    }
    .my-#{$i},
    .mt-#{$i} {
        margin-top: #{$i}px;
    }
    .my-#{$i},
    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }
}
