@for $i from 1 through 150 {
    .mx-#{$i},
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }
    .mx-#{$i},
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }
    .my-#{$i},
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
    .my-#{$i},
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .ml-n#{$i} {
        margin-left: -#{$i}px !important;
    }
    .ml-r#{$i} {
        margin-right: -#{$i}px !important;
    }
    .ml-t#{$i} {
        margin-top: -#{$i}px !important;
    }
    .ml-b#{$i} {
        margin-bottom: -#{$i}px !important;
    }
    .mt-n#{$i} {
        margin-top: -#{$i}px;
    }
}

.m-auto {
    margin: auto;
}