@for $i from 1 through 500 {
    .w-#{$i} {
        width: #{$i}px;
    }
    .h-#{$i} {
        height: #{$i}px;
    }
    .wx-#{$i} {
        width: percentage($i / 100);
    }
    .mwx-#{$i} {
        max-width: #{$i}px;
    }
    .mhx-#{$i} {
        max-height: #{$i}px;
    }
}
