.sale-tag {
  font-size: 11px;
  line-height: 18px;
  font-weight: bold;
}

.hero-md {
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
}

.h1-md {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.h2-md {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.h3-md {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.h4-md {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.h5-md {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.h6-md {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.h7-md {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.hero-re {
  font-size: 26px;
  line-height: 36px;
  font-weight: normal;
}

.hero-bo {
  font-size: 26px;
  font-weight: bold;
  line-height: 36px;
}

.h1-re {
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
}

.h1-bo {
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
}

.h2-re {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.h2-bo {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.h3-re {
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
}

.h3-bo {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
}

.h4-re {
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
}

.h4-bo {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.h5-re {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

.h5-bo {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
}

.h8-bo {
  font-size: 11px;
  line-height: 18px;
  font-weight: bold;
}

.h8-bo-variant {
  font-size: 11px;
  line-height: 15px;
  font-weight: bold;
}

.h8-bo-variant-1 {
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
}

.h8-bo-variant-2 {
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
}

.sale-tag {
  font-size: 11px;
  line-height: 18px;
  font-weight: bold;
}

.h6-re {
  font-size: 13px;
  line-height: 20px !important;
  font-weight: normal;
}

.h6-bo {
  font-size: 13px;
  line-height: 20px !important;
  font-weight: bold;
}

.h7-re {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.h7-bo {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}

.h8-re {
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;
}

/**
 * --------------------------------------------------------
 * Heading Class
 * --------------------------------------------------------
 */

//boll
.h26-bo-36 {
  font-size: 26px;
  font-weight: bold;
  line-height: 36px;

  @media (max-width: 767px) {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
  }
}

.h11-bo-16 {
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
}

.h11-bo-18 {
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
}

.h12-bo-18 {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}

.h13-bo-20 {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px !important;
}

.h14-bo-22 {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}

.h15-bo-24 {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}

.h18-bo-30 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.h16-bo-26 {
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}

.h20-bo-32 {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}

.h24-bo-36 {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}

.h24-bo-1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.hbo-20-24 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

//medium
.h20-md-32 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.h26-md-36 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
}

.h18-md-30 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.h16-md-26 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.h15-md-24 {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.h14-md-22 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.h13-md-20 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.h13-md-20 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.h11-md-16 {
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
}

//regular
.h26-re-36 {
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
}

.h11-re-16 {
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
}

.h13-re-20 {
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}

.h13-re-36 {
  font-size: 13px;
  font-weight: normal;
  line-height: 36px;
}


.h14-re-17 {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
}

.h20-re-32 {
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
}

.h24-re-36 {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
}

.h18-re-30 {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.h16-re-26 {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}

.h15-re-24 {
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
}

.h14-re-22 {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}

.h12-re-18 {
  font-size: 12px !important;
  font-weight: normal;
  line-height: 18px !important;
}

.hre-14-17 {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
}

.text-404 {
  font-size: 52px;
  line-height: 100%;
  font-weight: 300;
  color: $gray-500;
}

.text-404-bo {
  font-size: 52px;
  line-height: 100%;
  font-weight: bold;
}

.text-500-bo {
  font-size: 32px;
  line-height: 150%;
  font-weight: bold;
}

/**
 * --------------------------------------------------------
 * Fonts size
 * --------------------------------------------------------
 */
[class*='-16px'] {
  font-size: 16px;
}

[class*='-24px'] {
  font-size: 24px;
}

.fs-t8 {
  font-size: 8px;
}

.fs-t11 {
  font-size: 11px;
}

.fs-t12 {
  font-size: 12px;
}

.fs-t13 {
  font-size: 13px;
}

.fs-t14 {
  font-size: 14px;
}

.fs-t15 {
  font-size: 15px;
}

.fs-t16 {
  font-size: 16px;
}

.fs-t17 {
  font-size: 17px;
}

.fs-t18 {
  font-size: 18px;
}

.fs-t19 {
  font-size: 19px;
}

.fs-t20 {
  font-size: 20px;
}

.fs-t21 {
  font-size: 21px;
}

.fs-t22 {
  font-size: 22px;
}

.fs-t23 {
  font-size: 23px;
}

.fs-t24 {
  font-size: 24px;
}

.fs-t25 {
  font-size: 25px;
}

.fs-t26 {
  font-size: 26px;
}

.fs-t27 {
  font-size: 27px;
}

.fs-t28 {
  font-size: 28px;
}

/**
 * --------------------------------------------------------
 * Text color
 * --------------------------------------------------------
 */
[class*='icon-trash-'] {
  color: #dadada;
}

/**
 * --------------------------------------------------------
 * Text wrapping and overflow
 * --------------------------------------------------------
 */
.text-truncate-1 {
  word-wrap: break-word;
  white-space: normal;
  line-height: 22px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.text-truncate-2 {
  word-wrap: break-word;
  white-space: normal;
  line-height: 22px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.text-truncate-3 {
  word-wrap: break-word;
  white-space: normal;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.text-truncate-4 {
  word-wrap: break-word;
  white-space: normal;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}


.text-error {
  color: #e53935;
}

.text-14px {
  font-size: 14px;
  line-height: 22px;
}
.text-18px {
  font-size: 18px;
  line-height: 30px;
}
.text-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}