// Modal
#account-control.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-xl.modal-dialog-centered(role='document')
        .modal-content
            .modal-body.p-0
                .d-flex
                    .col-12.col-sm-5.px-0
                        include login.pug
                        include register.pug
                    .col-7.d-none.d-sm-block(style= {'background-image': 'url("dist/img/Image 43.png")', 'background-size': 'cover'})
                
