.account-summary.pr-50
    .border.pt-30.pb-35.px-40.bg-white
        .account-summary-header.text-h2.mb-60 Thông tin
        .account-summary-detail.d-flex.flex-column
            .d-flex.flex-between_start.mb-15
                label.text-h6.miwx-100.mr-10 Tên đăng nhập
                label.text-h5.text-dark.text-notrans.text-right nguyenvana
            .d-flex.flex-between_start.mb-15
                label.text-h6.miwx-100.mr-10 Họ và tên
                label.text-h5.text-dark.text-notrans.text-right Nguyễn Văn A
            .d-flex.flex-between_start.mb-15
                label.text-h6.miwx-100.mr-10 Ngày sinh
                label.text-h5.text-dark.text-notrans.text-right 01/01/2001
            .d-flex.flex-between_start.mb-15
                label.text-h6.miwx-100.mr-10 Thành phố
                label.text-h5.text-dark.text-notrans.text-right Hà Nội
            .d-flex.flex-between_start.mb-15
                label.text-h6.miwx-100.mr-10 Địa chỉ
                label.text-h5.text-dark.text-notrans.text-right 109, ngõ 30, đường Phạm Ngọc Thạch, Phường Kim Liên, quận Đống Đa
        