.cart-summary.pr-50
    .border.pt-30.pb-35.px-40.bg-white
        .cart-summary-header.text-h2.mb-60 Đơn hàng
        .cart-summary-detail.d-flex.flex-column
            .d-flex.flex-between_start.mb-15
                label.text-h6.miwx-100.mr-10 Tổng (3 sản phẩm)
                label.text-h5.text-dark.text-right 1.500.000
            .d-flex.flex-between_start.mb-15
                label.text-h6.miwx-100.mr-10 Phí ship (mặc định)
                label.text-h5.text-dark.text-right 30.000
            .form-group.my-60.ma-giam-gia
                input.form-control(placeholder="Mã giảm giá")
            .d-flex.flex-between_start.mb-15.text-normal
                label.text-h5.miwx-100.mr-10.text-notrans.text-dark Tổng đơn
                label.text-h5.text-dark.text-right 1.530.000
            button.st-btn.w-100 Đặt hàng
        