.contact-form.w-100.pr-50
    .border.pt-30.pb-20.px-50.bg-white
        .contact-form-header.text-h2.text-primary.flex-center.mb-50 Hãy liên hệ với chúng tôi nhé!
        form
            .form-group
                label.text-h5(for="hovaten") Họ và tên
                input#hovaten.form-control(type='text', name='hoten', placeholder='Họ và tên')
            .form-group
                label.text-h5(for="email") Email
                input#email.form-control(type='email', name='email', placeholder='Email')
            .form-group
                label.text-h5(for="note") Lời nhắn
                textarea#note.form-control(name='loinhan', placeholder='Lời nhắn', rows="4")
            .form-group
                button.st-btn.w-100 Gửi lời nhắn

        