.contact-info.w-100
    .pl-50
        .text-h1.mt-20 Liên hệ
        .breadcrum.mt-10 Trang chủ / Liên hệ
        .text-h4.mt-40 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum eros odio, quis volutpat nisl mattis a. Fusce rhoncus turpis eget sem congue volutpat. Aenean sit amet volutpat arcu. Phasellus tristique malesuada lectus. Phasellus vitae turpis neque. Sed ultrices ipsum rhoncus, eleifend ligula bibendum, tempus elit.
        ul.contact-detail.mt-40
            li.mb-20
                i.zmdi.zmdi-email.text-primary.w-18
                .ml-30.text-h4.d-inline Ngaos@gmail.com
            li.mb-20
                i.zmdi.zmdi-phone.text-primary.w-18
                .ml-30.text-h4.d-inline +84 987 762 3728
            li.mb-20
                i.zmdi.zmdi-facebook.text-primary.w-18
                .ml-30.text-h4.d-inline Facebook.com/ngaos1029
            li.mb-20
                i.zmdi.zmdi-instagram.text-primary.w-18
                .ml-30.text-h4.d-inline Instagram.com/ngao1029
