.home-contact.mt-150.mb-80
    .home-contact-content.d-flex.flex-wrap.px-50
        .col-12.d-flex.px-0.flex-wrap
            .col-sm-4.col-12
                img(src="dist/img/Image 43.png")
                button.st-btn Phản hồi
            .col-sm-8.col-12
                img(src="dist/img/Image 43.png")
                button.st-btn Liên hệ