.count-total.container
    .d-flex.flex-wrap.bg-secondary.px-50.py-50
        .col-3.d-flex.flex-column.flex-center
            .rounded.rounded-circle.bg-white.w-97.h-97.flex-center
                img(src="dist/img/store-2.svg")
            .text.text-center
                .number.text-h1.mb-10 100
                .label.text-h6.text-gray-i cửa hàng
        .col-3.d-flex.flex-column.flex-center
            .rounded.rounded-circle.bg-white.w-97.h-97.flex-center
                img(src="dist/img/shopping-bag-2.svg")
            .text.text-center
                .number.text-h1.mb-10 200
                .label.text-h6.text-gray-i khách hàng
        .col-3.d-flex.flex-column.flex-center
            .rounded.rounded-circle.bg-white.w-97.h-97.flex-center
                img(src="dist/img/flower-2.svg")
            .text.text-center
                .number.text-h1.mb-10 300
                .label.text-h6.text-gray-i Sản phẩm
        .col-3.d-flex.flex-column.flex-center
            .rounded.rounded-circle.bg-white.w-97.h-97.flex-center
                img(src="dist/img/store-2.svg")
            .text.text-center
                .number.text-h1.mb-10 400
                .label.text-h6.text-gray-i nhân viên