// Footer
section.st-footer
  .footer-top.w-100
    .container
      .footer-content.bg-white.pt-38.pb-28.d-flex.px-60.border-top
        .col-12.col-md-3.d-flex.flex-column
          .title Về NGAOS
          ul.list-link.d-flex.flex-column.intro-text-m
            li
              a(href='#') Câu chuyện thương hiệu
            li
              a(href='#') Hướng dẫn mua hàng
            li
              a(href='#') Quy định & hình thức thanh toán
            li
              a(href='#') Chính sách giao hàng
            li
              a(href='#') Chính sách đổi trả
            li
              a(href='#') Chính sách bảo mật thông tin
            li
              a(href='#') Chính sách bảo hành
        .col-12.col-md-2.d-flex.flex-column
          .title MẠNG xã hội
          ul.list-link.d-flex.flex-column.intro-text-m
            li
              a(href='#') Facebook
            li
              a(href='#') Instagram
        .col-12.col-md-4.d-flex.flex-column
          .title Địa chỉ cửa hàng
          ul.list-link.d-flex.flex-column.intro-text-m
            li 70 Phạm Ngọc Thạch - Quận Đống Đa - Hà Nội
            li 38 Nguyễn Bỉnh Khiêm - Quận Hai Bà Trưng - Hà Nội
            li 38 Đặng Thị Nhu - TP.HCM
            li Nguyễn Văn Thủ - TP.HCM
        .col-12.col-md-3.d-flex.flex-column
          .title Liên hệ
          ul.list-link.d-flex.flex-column.intro-text-m
            li Số điện thoại: (+84)123456789
            li Email: aba@gmail.com
            li
              .d-flex.mt-28
                input.st-input(type='email', placeholder='Your email')
                button.send-mail-btn.st-btn.mwx-50.mihx-50.ml-n2
                  i.zmdi.zmdi-mail-send
  .footer-bottom
    .container
      .w-100.p-20.d-flex.flex-center.bg-white.border-top
        | Copyright 2019 NGAOS. All Right Reserved
// End Footer
