    <!-- Footer -->
    <section class="st-footer">
        <div class="footer-top w-100">
            <div class="container">
                <div class="footer-content bg-white pt-38 pb-28 d-flex px-60 border-top">
                    <div class="col-12 col-md-3 d-flex flex-column">
                        <div class="title">Về NGAOS</div>
                        <ul class="list-link d-flex flex-column intro-text-m">
                            <li><a href="#">Câu chuyện thương hiệu</a></li>
                            <li><a href="#">Hướng dẫn mua hàng</a></li>
                            <li><a href="#">Quy định & hình thức thanh toán</a></li>
                            <li><a href="#">Chính sách giao hàng</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Chính sách bảo mật thông tin</a></li>
                            <li><a href="#">Chính sách bảo hành</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-2 d-flex flex-column">
                        <div class="title">MẠNG xã hội</div>
                        <ul class="list-link d-flex flex-column intro-text-m">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 d-flex flex-column">
                        <div class="title">Địa chỉ cửa hàng</div>
                        <ul class="list-link d-flex flex-column intro-text-m">
                            <li>70 Phạm Ngọc Thạch - Quận Đống Đa - Hà Nội</li>
                            <li>38 Nguyễn Bỉnh Khiêm - Quận Hai Bà Trưng - Hà Nội</li>
                            <li>38 Đặng Thị Nhu - TP.HCM</li>
                            <li>Nguyễn Văn Thủ - TP.HCM</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3 d-flex flex-column">
                        <div class="title">Liên hệ</div>
                        <ul class="list-link d-flex flex-column intro-text-m">
                            <li>Số điện thoại: (+84)123456789</li>
                            <li>Email: aba@gmail.com</li>
                            <li>
                                <div class="d-flex mt-28">
                                    <input type="email" class="st-input" placeholder="Your email">
                                    <button class="send-mail-btn st-btn mwx-50 mihx-50 ml-n2"><i
                                        class="zmdi zmdi-mail-send"></i></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="w-100 p-20 d-flex flex-center bg-white border-top">
                    Copyright 2019 NGAOS. All Right Reserved
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer -->