.grid-title
    .grid-title-row.d-flex.flex-wrap.px-50
        .col-12.d-flex.flex-wrap
            .col-12.col-sm-6.px-0
                .image-block
                    img(src="dist/img/Image 43.png")
            .col-12.col-sm-6.flex-center.px-0
                .content-block.d-flex.flex-center.flex-column.py-40
                    .block-title.text-h2.text-primary.mb-30 Lorem ipsum dolor amet sit
                    .content.text-h4.text-truncate-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum eros odio, quis volutpat nisl mattis a. Fusce rhoncus turpis eget sem congue volutpat. Aenean sit amet volutpat arcu. Phasellus tristique malesuada lectus. Phasellus vitae turpis neque. Sed ultrices ipsum rhoncus, eleifend ligula bibendum, tempus elit.
        .col-12.d-flex.flex-wrap
            .col-12.col-sm-6.px-0
                .image-block
                    img(src="dist/img/Image 43.png")
            .col-12.col-sm-6.flex-center.px-0
                .content-block.d-flex.flex-center.flex-column.py-40
                    .block-title.text-h2.text-primary.mb-30 Lorem ipsum dolor amet sit
                    .content.text-h4.text-truncate-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum eros odio, quis volutpat nisl mattis a. Fusce rhoncus turpis eget sem congue volutpat. Aenean sit amet volutpat arcu. Phasellus tristique malesuada lectus. Phasellus vitae turpis neque. Sed ultrices ipsum rhoncus, eleifend ligula bibendum, tempus elit.
