head  
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title NGAOS
  // base css
  link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='dist/css/style.min.css')
  // font awesome
  link(href='node_modules/@fortawesome/fontawesome-free/css/fontawesome.css', rel='stylesheet')
  link(href='node_modules/@fortawesome/fontawesome-free/css/brands.css', rel='stylesheet')
  link(href='node_modules/@fortawesome/fontawesome-free/css/solid.css', rel='stylesheet')
  // extension css
  link(rel='stylesheet', href='node_modules/slick-carousel/slick/slick.css')
  link(rel='stylesheet', href='node_modules/slick-carousel/slick/slick-theme.css')
  // base script
  script(src='node_modules/jquery/dist/jquery.min.js')
  script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
  script(src='node_modules/simple-scrollspy/dist/simple-scrollspy.min.js')
  script(src='dist/js/script.js')
  // extension js
  script(src='node_modules/slick-carousel/slick/slick.min.js')
