// Header
section.st-header
  .header.d-flex.flex-center
    .container
      .d-flex.flex-between.px-64
        .sub-menu.d-flex
          .hamberger.flex-center
            i.zmdi.zmdi-menu
            i.zmdi.zmdi-close
          .search.pl-12
            img.mw-100.mh-100(src='dist/img/magnifying-glass.svg')
          ul.sub-menu-link.d-none.d-sm-flex.ml-20
            li.px-10
              a(href='#') Liên hệ
            li.px-10
              a(href='#') Dịch vụ
            li.px-10
              a(href='#') Blog
        .logo.text-center.flex-1
          | NGAOS
        .header-function.d-flex
          .favorite-list.px-6
            img.mw-100.mh-100(src='dist/img/flower.svg')
          .account.px-6
            i.zmdi.zmdi-account-o
          .mini-cart.px-6
            img.mw-100.mh-100(src='dist/img/shopping-bag.svg')
            .cart-number 10
  // Menu
  .menu
    .container.h-100
      ul.menu-bar.d-flex.flex-center.h-100
        li
          a(href='#') Tất cả sản phẩm
        li
          a(href='#') Sale
        li
          a(href='#') Lookbook
        li
          a(href='#') balo to
        li
          a(href='#') balo bé
        li
          a(href='#') Túi chéo
        li
          a(href='#') Ví
        li
          a(href='#') Phụ Kiện túi
  // Mobile menu
  .sub-menu-link.sub-menu-link-mb.d-sm-none
    .search-box
      i.zmdi.zmdi-search
      input.search-input(type='text', name='search', placeholder='TÌM KIẾM', ='')
    #sub-menu-container
      .cat
        #heading_1.cat-header
          h5.mb-0
            button.btn.btn-link(data-toggle='collapse', data-target='#collapse_1', aria-expanded='true', aria-controls='collapse_1') Sản phẩm
        #collapse_1.collapse.show(aria-labelledby='heading_1', data-parent='#sub-menu-container')
          .cat-body
            .sub-menu-child Balo to
            .sub-menu-child Balo bé
            .sub-menu-child Túi chéo
            .sub-menu-child Ví
      .cat
        #heading_2.cat-header
          h5.mb-0
            button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapse_2', aria-expanded='false', aria-controls='collapse_2') Liên hệ
        #collapse_2.collapse(aria-labelledby='heading_2', data-parent='#sub-menu-container')
          .cat-body
            .sub-menu-child Balo to
            .sub-menu-child Balo bé
            .sub-menu-child Túi chéo
            .sub-menu-child Ví
      .cat
        #heading_3.cat-header
          h5.mb-0
            button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapse_3', aria-expanded='false', aria-controls='collapse_3') Dịch vụ
        #collapse_3.collapse(aria-labelledby='heading_3', data-parent='#sub-menu-container')
          .cat-body
            .sub-menu-child Balo to
            .sub-menu-child Balo bé
            .sub-menu-child Túi chéo
            .sub-menu-child Ví
      .cat
        #heading_4.cat-header
          h5.mb-0
            button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapse_4', aria-expanded='false', aria-controls='collapse_4')
              | Blog
  include account-control-modal.pug
// End Header
