.login-form
    .px-40.pt-35.d-flex.flex-center.flex-column
        .text-h2.text-primary Đăng nhập
        form.mt-50.w-100
            .form-group
                label.text-h5(for="login_email") Email
                input#login_email.form-control(type="text" placeholder="Email")
            .form-group
                label.text-h5(for="login_password") Mật khẩu
                input#login_password.form-control(type="password" placeholder="Mật khẩu")
            .form-group.flex-center.mt-60
                button.st-btn Đăng nhập
    .border-top.py-22.d-flex.flex-center
        .text-primary.text-h5.text-notrans Bạn chưa có tài khoản? 
            a.do-register(href="#") TẠO TÀI KHOẢN 
            | ngay!