// Banner
.banner.lookbook-page
    .container
        .lb-header.text-h1 Lookbook 1: Lorem ipsum dolor amet

        .slide-banner
            div
                img(src='dist/img/Image 10.png')
            div
                img(src='dist/img/Image 10.png')


    .container
        .row
            .col-xs-hidden.col-md-2
            .col-xs-12.col-md-8.mt-50.mb-50 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum eros odio, quis volutpat nisl mattis a. Fusce rhoncus turpis eget sem congue volutpat. Aenean sit amet volutpat arcu. Phasellus tristique malesuada lectus. Phasellus vitae turpis neque. Sed ultrices ipsum rhoncus, eleifend ligula bibendum, tempus elit. Donec molestie nunc ac felis ultrices, in mollis ipsum aliquam. Nulla dapibus sem sed tellus pellentesque, sed tincidunt felis efficitur. Quisque eleifend faucibus leo, id auctor enim suscipit vel. Vestibulum ut neque rhoncus, condimentum tellus vel, tincidunt diam.
            .col-xs-hidden.col-md-2
            

    .container
        .product-list.w-100.d-flex.flex-wrap.px-48.mt-50
            .col-6.col-sm-4.col-md-4
                .product-item
                    .p-image
                        .p-stopper-sale SALE
                        img(src='dist/img/Image 127.png')
                        .p-func
                            button.st-btn.buy-now-btn MUA NGAY
                            .favo-btn
                                img.mw-100.mh-100(src='dist/img/flower.svg')
                    .p-desction.d-flex.flex-center.flex-column
                        .p-name Robot limited edtion
                        .p-price
                            .price-u 700.000 VNĐ
                            .price-o 500.000 VNĐ
            .col-6.col-sm-4.col-md-4
                .product-item
                    .p-image
                        .p-stopper-sale SALE
                        img(src='dist/img/Image 127.png')
                        .p-func
                            button.st-btn.buy-now-btn MUA NGAY
                            .favo-btn
                                img.mw-100.mh-100(src='dist/img/flower.svg')
                    .p-desction.d-flex.flex-center.flex-column
                        .p-name Robot limited edtion
                        .p-price
                            .price-u 700.000 VNĐ
                            .price-o 500.000 VNĐ
            .col-6.col-sm-4.col-md-4
                .product-item
                    .p-image
                        .p-stopper-sale SALE
                        img(src='dist/img/Image 127.png')
                        .p-func
                            button.st-btn.buy-now-btn MUA NGAY
                            .favo-btn
                                img.mw-100.mh-100(src='dist/img/flower.svg')
                    .p-desction.d-flex.flex-center.flex-column
                        .p-name Robot limited edtion
                        .p-price
                            .price-u 700.000 VNĐ
                            .price-o 500.000 VNĐ



            .col-10.m-auto
                .product-item
                    .p-image
                        .p-stopper-sale SALE
                        img(src='dist/img/Image 127.png')
                        .p-func
                            button.st-btn.buy-now-btn MUA NGAY
                            .favo-btn
                                img.mw-100.mh-100(src='dist/img/flower.svg')
                    .p-desction.d-flex.flex-center.flex-column
                        .p-name Robot limited edtion
                        .p-price
                            .price-u 700.000 VNĐ
                            .price-o 500.000 VNĐ



            .col-6
                .product-item
                    .p-image
                        .p-stopper-sale SALE
                        img(src='dist/img/Image 127.png')
                        .p-func
                            button.st-btn.buy-now-btn MUA NGAY
                            .favo-btn
                                img.mw-100.mh-100(src='dist/img/flower.svg')
                    .p-desction.d-flex.flex-center.flex-column
                        .p-name Robot limited edtion
                        .p-price
                            .price-u 700.000 VNĐ
                            .price-o 500.000 VNĐ
            .col-6
                .product-item
                    .p-image
                        .p-stopper-sale SALE
                        img(src='dist/img/Image 127.png')
                        .p-func
                            button.st-btn.buy-now-btn MUA NGAY
                            .favo-btn
                                img.mw-100.mh-100(src='dist/img/flower.svg')
                    .p-desction.d-flex.flex-center.flex-column
                        .p-name Robot limited edtion
                        .p-price
                            .price-u 700.000 VNĐ
                            .price-o 500.000 VNĐ