// Banner
.banner.lookbook-page
    .container
        .lb-header.text-h1 Lookbook

        .slide-banner
            div
                img(src='dist/img/Image 10.png')
            div
                img(src='dist/img/Image 10.png')


    .container
        .row
            .col-12.col-md-4
                .lb-item
                    .lb-date
                        .lbday 10
                        .lbmonth tháng 1
                    .lb-image
                        img(src='dist/img/Image 43.png')
                    .lb-name Lookbook 1: Lorem ipsum dolor amet
            .col-12.col-md-4
                .lb-item
                    .lb-date
                        .lbday 10
                        .lbmonth tháng 1
                    .lb-image
                        img(src='dist/img/Image 43.png')
                    .lb-name Lookbook 1: Lorem ipsum dolor amet

            .col-12.col-md-4
                .lb-item
                    .lb-date
                        .lbday 10
                        .lbmonth tháng 1
                    .lb-image
                        img(src='dist/img/Image 43.png')
                    .lb-name Lookbook 1: Lorem ipsum dolor amet

            .col-12.col-md-4
                .lb-item
                    .lb-date
                        .lbday 10
                        .lbmonth tháng 1
                    .lb-image
                        img(src='dist/img/Image 43.png')
                    .lb-name Lookbook 1: Lorem ipsum dolor amet

            .col-12.col-md-4
                .lb-item
                    .lb-date
                        .lbday 10
                        .lbmonth tháng 1
                    .lb-image
                        img(src='dist/img/Image 43.png')
                    .lb-name Lookbook 1: Lorem ipsum dolor amet

            .col-12.col-md-4
                .lb-item
                    .lb-date
                        .lbday 10
                        .lbmonth tháng 1
                    .lb-image
                        img(src='dist/img/Image 43.png')
                    .lb-name Lookbook 1: Lorem ipsum dolor amet


