.product-slide.wx-100.px-60
  .slider
    .product-item.px-15
      .p-image
        .p-stopper-sale SALE
        img(src='dist/img/Image 127.png')
        .p-func
          button.st-btn.buy-now-btn MUA NGAY
          .favo-btn
            img.mw-100.mh-100(src='dist/img/flower.svg')
      .p-desction.d-flex.flex-center.flex-column
        .p-name Robot limited edtion
        .p-price
          .price-o 500.000 VNĐ
    .product-item.px-15
      .p-image
        img(src='dist/img/Image 127.png')
        .p-func
          button.st-btn.buy-now-btn MUA NGAY
          .favo-btn
            img.mw-100.mh-100(src='dist/img/flower.svg')
      .p-desction.d-flex.flex-center.flex-column
        .p-name Robot limited edtion
        .p-price
          .price-o 500.000 VNĐ
    .product-item.px-15
      .p-image
        img(src='dist/img/Image 127.png')
        .p-func
          button.st-btn.buy-now-btn MUA NGAY
          .favo-btn
            img.mw-100.mh-100(src='dist/img/flower.svg')
      .p-desction.d-flex.flex-center.flex-column
        .p-name Robot limited edtion
        .p-price
          .price-o 500.000 VNĐ
    .product-item.px-15
      .p-image
        img(src='dist/img/Image 127.png')
        .p-func
          button.st-btn.buy-now-btn MUA NGAY
          .favo-btn
            img.mw-100.mh-100(src='dist/img/flower.svg')
      .p-desction.d-flex.flex-center.flex-column
        .p-name Robot limited edtion
        .p-price
          .price-o 500.000 VNĐ
    .product-item.px-15
      .p-image
        img(src='dist/img/Image 127.png')
        .p-func
          button.st-btn.buy-now-btn MUA NGAY
          .favo-btn
            img.mw-100.mh-100(src='dist/img/flower.svg')
      .p-desction.d-flex.flex-center.flex-column
        .p-name Robot limited edtion
        .p-price
          .price-o 500.000 VNĐ
