.shipping-form.w-100.pl-50.mt-20
    .text-h1 Thông tin giao hàng
    .breadcrum.mt-10 Trang chủ / Giỏ hàng / Thông tin giao hàng
    .text-h3.text-primary.mt-20 Sử dụng thông tin giao hàng có sẵn bằng cách <a href="#" class="do-register px-8">TẠO TÀI KHOẢN</a> hoặc <a href="#" class="do-login px-8">ĐĂNG NHẬP</a>
    form.mt-40.d-flex.flex-wrap
        .col-12.col-sm-6
            .form-group
                label.text-h5(for="shipping_name") Họ và tên
                input.form-control(type="text", placeholder="Họ và tên")
        .col-12.col-sm-6
            .form-group
                label.text-h5(for="shipping_name") Email (bắt buộc)
                input.form-control(type="email", placeholder="Email")
        .col-12.col-sm-6
            .form-group
                label.text-h5(for="shipping_name") Số điện thoại
                input.form-control(type="text", placeholder="Số điện thoại")
        .col-12.col-sm-6
            .form-group
                label.text-h5(for="shipping_name") Thành phố
                input.form-control(type="text", placeholder="Thành phố")
        .col-12.col-sm-12
            .form-group
                label.text-h5(for="shipping_name") địa chỉ
                input.form-control(type="text", placeholder="địa chỉ")
        .col-12.col-sm-12
            .form-group
                label.text-h5(for="shipping_name") Ghi chú
                input.form-control(type="text", placeholder="Ghi chú")

