.container.why-page-container
    .d-flex.mt-50
        .col-2.d-none.d-sm-block
        .col-12.col-sm-8.flex-center.flex-column
            .text-h1.mb-10 Câu chuyện của NGAOS
            .breadcrum Trang chủ / câu chuyện của ngaos
            .intro.mt-50.text-gray
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum eros odio, quis volutpat nisl mattis a. Fusce rhoncus turpis eget sem congue volutpat. Aenean sit amet volutpat arcu. Phasellus tristique malesuada lectus. Phasellus vitae turpis neque. Sed ultrices ipsum rhoncus, eleifend ligula bibendum, tempus elit. Donec molestie nunc ac felis ultrices, in mollis ipsum aliquam. Nulla dapibus sem sed tellus pellentesque, sed tincidunt felis efficitur. Quisque eleifend faucibus leo, id auctor enim suscipit vel. Vestibulum ut neque rhoncus, condimentum tellus vel, tincidunt diam.
                p &nbsp;
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum eros odio, quis volutpat nisl mattis a. Fusce rhoncus turpis eget sem congue volutpat. Aenean sit amet volutpat arcu. Phasellus tristique malesuada lectus. Phasellus vitae turpis neque. Sed ultrices ipsum rhoncus, eleifend ligula bibendum, tempus elit. Donec molestie nunc ac felis ultrices, in mollis ipsum aliquam. Nulla dapibus sem sed tellus pellentesque, sed tincidunt felis efficitur. Quisque eleifend faucibus leo, id auctor enim suscipit vel. Vestibulum ut neque rhoncus, condimentum tellus vel, tincidunt diam.
        .col-2.d-none.d-sm-block
    img.story-image.mt-90(src="dist/img/Image 10.png")
    .quote-message-container.d-flex.flex-wrap.px-50
        .col-12.col-sm-6.flex-center.flex-column.pt-50
            .quote-message.text-h2
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum eros odio, quis volutpat nisl mattis a. Fusce rhoncus turpis eget sem congue volutpat.
            .quote-by.text-h6.mt-20.text-left.w-100 Nguyễn Văn A - Founder
        .col-12.col-sm-6.flex-center.py-100
            img(src="dist/img/Image 191.png")