.store-list.bg-secondary.pt-140.px-100.pb-100.d-flex.flex-column
    .text-h1.mb-50 Hệ thống cửa hàng
    .row.flex-wrap
        .store-item.col-6.col-sm-3.d-flex.flex-column.flex-center
            .position-relative
                img(src="dist/img/store.svg")
                .number.w-39.h-39.text-h2.text-primary.flex-center.position-absolute.t-0.r-0.rounded.rounded-circle.bg-white 1
            label.mt-30.text-h4.text-center 70 Phạm Ngọc Thạch - Quận Đống Đa - Hà Nội
        .store-item.col-6.col-sm-3.d-flex.flex-column.flex-center
            .position-relative
                img(src="dist/img/store.svg")
                .number.w-39.h-39.text-h2.text-primary.flex-center.position-absolute.t-0.r-0.rounded.rounded-circle.bg-white 2
            label.mt-30.text-h4.text-center 38 Nguyễn Bỉnh Khiêm - Quận Hai Bà Trưng - Hà Nội
            
        .store-item.col-6.col-sm-3.d-flex.flex-column.flex-center
            .position-relative
                img(src="dist/img/store.svg")
                .number.w-39.h-39.text-h2.text-primary.flex-center.position-absolute.t-0.r-0.rounded.rounded-circle.bg-white 3
            label.mt-30.text-h4.text-center 38 Đặng Thị Nhu - Thành phố Hồ Chí Minh
        .store-item.col-6.col-sm-3.d-flex.flex-column.flex-center
            .position-relative
                img(src="dist/img/store.svg")
                .number.w-39.h-39.text-h2.text-primary.flex-center.position-absolute.t-0.r-0.rounded.rounded-circle.bg-white 4
            label.mt-30.text-h4.text-center Nguyễn Văn Thủ - Thành phố Hồ Chí Minh
