.thanhvien-block.container
    .d-flex.flex-wrap.px-50
        .col-12.col-sm-6.flex-center.image-group
            .img-container
                img.img-1(src="dist/img/Image 43.png")
                img.img-2(src="dist/img/Image 43.png")
                img.img-3(src="dist/img/Image 43.png")
        .col-12.col-sm-6.flex-center.flex-column.px-50.py-150
            .heading.text-left.w-100.mb-20 Thành viên của NGAOS
            .text-h4.text-left.w-100 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum eros odio, quis volutpat nisl mattis a. Fusce rhoncus turpis eget sem congue volutpat. Aenean sit amet volutpat arcu. Phasellus tristique malesuada lectus. Phasellus vitae turpis neque. Sed ultrices ipsum rhoncus, eleifend ligula bibendum, tempus elit. Donec molestie nunc ac felis ultrices, in mollis ipsum aliquam.