// Body
section.st-body
    .container
        .wx-100.bg-white.pb-50
            .w-100.cat-title.pt-30.pb-30.d-flex.flex-center.flex-column
                .heading Danh sách yêu thích
                .breadcrum.mt-10 Trang chủ / danh sách yêu thích

            .w-100.user-account-require.text-h3.text-primary.flex-center.mb-30 Sử dụng thông tin giao hàng có sẵn bằng cách <a href="#" class="do-register px-8">TẠO TÀI KHOẢN</a> hoặc <a href="#" class="do-login px-8">ĐĂNG NHẬP</a>

            // Product list
            .product-list.w-100.d-flex.flex-wrap.px-48.pt-50.border-top
                .col-6.col-sm-4.col-md-3
                    .product-item
                        .p-image
                            .p-stopper-sale SALE
                            img(src='dist/img/Image 127.png')
                            .p-func
                                button.st-btn.buy-now-btn MUA NGAY
                                .favo-btn
                                    img.mw-100.mh-100(src='dist/img/flower.svg')
                        .p-desction.d-flex.flex-center.flex-column
                            .p-name Robot limited edtion
                            .p-price
                                .price-o 500.000 VNĐ
                .col-6.col-sm-4.col-md-3
                    .product-item
                        .p-image
                            .p-stopper-sale SALE
                            img(src='dist/img/Image 127.png')
                            .p-func
                                button.st-btn.buy-now-btn MUA NGAY
                                .favo-btn
                                    img.mw-100.mh-100(src='dist/img/flower.svg')
                        .p-desction.d-flex.flex-center.flex-column
                            .p-name Robot limited edtion
                            .p-price
                                .price-o 500.000 VNĐ
            // End Product list
// End Body
