.st-body {
    .store-list {
        .store-item {
            .number {
                font-size: 23px;
                font-family: Cabin;
                font-style: normal;
                font-weight: bold;
                top: -20px;
                right: -20px;
            }
        }
    }
}
