@import "./form.scss";
@import "./plp.scss";
@import "./pdp.scss";


html, body {
    overflow-x: hidden;
}
body {
    font-family: Cabin, Roboto;
    max-width: 100%;
}

/*
    Header
*/
.st-header {
    .header {
        height: 63px;
        background: #fff;
        width: 100%;
        @media (max-width: 480px) {
            padding: 0 20px;
            .px-64 {
                padding: 0;
            }
            .sub-menu {
                align-items: center;
            }
        }

        .sub-menu {
            &.open {
                .hamberger {
                    .zmdi {
                        display: none;
                        &.zmdi-close {
                            display: block;
                        }
                    }
                }
                .sub-menu-link {
                    opacity: 1;
                    pointer-events: auto;
                    position: relative;
                    z-index: 1;
                    transform: translateX(0);
                }
            }
            .hamberger {
                width: 20px;
                height: 20px;
                position: relative;
                z-index: 2;
                .zmdi {
                    font-size: 20px;
                    cursor: pointer;
                    &.zmdi-close {
                        display: none;
                    }
                }
            }
            .sub-menu-link {
                font-size: 15px;
                line-height: 18px;
                display: flex;
                transition: 0.3s;
                opacity: 0;
                pointer-events: none;
                position: relative;
                z-index: -1;
                transform: translateX(-100%);
            }
        }

        .logo {
            font-size: 30px;
            line-height: 40px;
            font-family: Playfair, Roboto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &-function {
            img {
                height: 18px;
            }
            .search {
                @media (max-width: 480px) {
                    display: none;
                }
                img {
                    height: 15px;
                }
            }
            .mini-cart {
                position: relative;
                .cart-number {
                    width: 16px;
                    height: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                    color: #fff;
                    background: $color-1;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    right: -4px;
                }
            }
        }
    }

    .sub-menu-link-mb {
        display: none;
        position: fixed;
        top: 93px;
        left: 0;
        padding: 20px;
        background: #fff;
        width: 100%;
        height: calc(100vh - 93px);
        z-index: 9;

        .search-box {
            display: flex;
            border-bottom: solid 1px $color-2;
            justify-content: flex-start;
            align-items: center;
            .search-input {
                width: 100%;
                padding: 16px 16px 16px 12px;
                &::placeholder {
                    color: #aaa;
                }
            }
            i.zmdi {
                font-size: 22px;
                color: #aaa;
            }
        }
        #sub-menu-container {
            margin-top: 30px;
            .cat-header {
                margin-left: 20px;
                position: relative;
                &:before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: $color-2;
                    position: absolute;
                    left: -20px;
                    top: 10px;
                    border-radius: 50%;
                }
                .btn {
                    font-size: 25px;
                    line-height: 30px;
                    color: #666;
                    margin-bottom: 15px;
                    padding: 0;
                    &:not(.collapsed) {
                        text-decoration:  none;
                        color: $color-1;
                    }
                }
            }
            .cat-body {
                font-size: 16px;
                line-height: 19px;
                color: #666;
                margin-left: 20px;
                .sub-menu-child {
                    margin-bottom: 18px;
                }
            }
        }
    }

    .menu {
        background: $color-2;
        height: 30px;

        ul.menu-bar {
            font-size: 12px;
            line-height: 16px;
            padding: 0 12px;
            font-family: Cabin, Roboto;
            white-space: nowrap;
            overflow: auto;
            > li {
                padding: 0 24px;
                text-transform: uppercase;
                a {
                    &:hover {
                        text-decoration: none;
                        color: $color-1;
                    }
                }
            }
        }
    }

    .banner {
        .slide-banner {
            min-height: 500px;
            margin-bottom: 0;
            @media (max-width: 480px) {
                min-height: 210px;
            }
            img {
                max-width: 100%;
            }
        }
        .slick-dots {
            transform: translateY(-200%);
        }
    }
}

.st-body {
    .block-1 {
        padding-top: 100px;
        padding-bottom: 100px;
        @media (max-width: 480px) {
            padding-top: 60px;
            padding-bottom: 50px;
            display: block !important;
        }
        .pic-1 {
            @media (max-width: 480px) {
                height: 330px;
            }
        }
        .pic-2 {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-70%, -50%);
            @media (max-width: 480px) {
                height: 160px;
                width: 160px;
                transform: translate(-50%, -50%);
            }
        }

        .intro {
            @media (max-width: 480px) {
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 50px;
            }
        }
    }
    .block-2 {
        @media (max-width: 480px) {
            flex-direction: column;
            .right {
                min-height: 370px;
                width: 100%;
            }
        }
        .left {
            background: $color-2;
            .slider {
                width: 369px;
                height: 369px;
                margin: 0 auto;

                .p-name {
                    font-family: Playfair, Roboto;
                    font-style: italic;
                    position: absolute;
                }

                .slick-list {
                    overflow: hidden;
                    max-width: 100%;
                    max-height: 100%;
                }
                .slick-slide {
                    position: relative;
                }
                .slick-arrow {
                    &::before,
                    &::after {
                        color: $color-1;
                    }
                }
                .slick-dots {
                    transform: translateY(200%);
                }
            }
        }
        .right {
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .block-3 {
        @media (max-width: 480px) {
            .product-slide {
                padding: 0 15px;
            }
        }
    }
}

.st-footer {
    .footer-top {
        .footer-content {
            @media (max-width: 480px) {
                padding: 10px 20px 40px;
                flex-direction: column;
                .title {
                    margin-top: 30px;
                }
                .send-mail-btn {
                    max-width: 50px;
                }
            }
        }
    }
}

body.fixed-header {
    .header {
        position: fixed;
        top: 0;
        z-index: 10;
        background: rgba(255, 255, 255, 0.9);
    }
}

body.menu-open {
    @media (max-width: 480px) {
        overflow: hidden;
        position: fixed;
        max-width: 100%;
        .sub-menu-link-mb {
            display: block;
        }
    }
}

.heading {
    font-size: 40px;
    line-height: 53px;
    font-weight: 500;
    font-family: Playfair, Roboto;
    @media (max-width: 480px) {
        font-size: 28px;
        line-height: 37px;
    }
}

.title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 18px;
    font-weight: 500;
    font-family: Playfair, Roboto;
}

.intro-text {
    font-size: 16px;
    line-height: 30px;
    font-family: Cabin, Roboto;
    font-weight: normal;
    color: $color-4;
}

.border,
.border-top,
.border-bottom {
    border-color: $color-2 !important;
}

.intro-text-m {
    font-size: 14px;
    line-height: 30px;
    font-family: Cabin, Roboto;
    font-weight: normal;
    color: $color-4;
}

.breadcrum {
    text-transform: uppercase;
    font-family: Cabin, Roboto;
    font-size: 12px;
    line-height: 15px;
    color: #aaa;
}

.product-item {
    font-family: Cabin, Roboto;
    font-weight: bold;
    min-width: 200px;
    min-height: 300px;
    margin-bottom: 50px;
    transition: 0.5s;

    &:hover {
        .p-image {
            &::after {
                background: $color-1;
                opacity: 0.4;
                transform: scale(1);
            }
            .p-func {
                .buy-now-btn {
                    transform: translate(-50%, -50%);
                    opacity: 1;
                }
            }
        }
    }

    .p-image {
        border: solid 1px $color-2;
        position: relative;
        height: 358px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(0);
            box-shadow: 0 0 10px 0 $color-1;
            transition: 0.5s;
        }
        .p-stopper-sale {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(-90deg) translateX(-100%);
            transform-origin: 0 0;
            padding: 3px 15px;
            font-size: 12px;
            line-height: 15px;
            background: $color-1;
            color: #fff;
        }
        .p-func {
            .buy-now-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 50%);
                z-index: 2;
                opacity: 0;
                transition: 0.5s;
            }
            .favo-btn {
                position: absolute;
                bottom: 15px;
                right: 15px;
                z-index: 2;
                box-shadow: 2px 2px 7px -3px rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }
        }
    }
    .p-desction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .p-name {
            font-size: 20px;
            line-height: 24px;
            margin-top: 24px;
            margin-bottom: 10px;
        }
        .p-price {
            display: flex;
            justify-content: center;
            align-items: center;
            .price-u {
                font-size: 10px;
                line-height: 13px;
                text-decoration: line-through;
                color: #aaa;
                padding-right: 5px;
            }
            .price-o {
                font-size: 16px;
                line-height: 19px;
                color: $color-4;
            }
        }
    }

    @media (max-width: 480px) {
        min-width: 160px;
        .p-image {
            height: 215px;
        }
    }
}

.slick-slider {
    .slick-dots {
        li {
            margin: 0;

            button {
                &::before {
                    color: #e8e8e8;
                    font-size: 10px;
                    opacity: 1;
                }
            }
            &.slick-active {
                button {
                    &::before {
                        color: $color-1;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
