@import './Iconic/material-design-iconic-font.scss';

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1336px;
    }
}

@media (max-width: 480px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    div[class*=col-] {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.form-group {
    margin-bottom: 30px;
    > label {
        margin-bottom: 10px;
    }
    input, textarea, select {
        padding: 15px 12px 12px;
        font-size: 14px;
        line-height: 26px;
        height: auto;
        border-radius: 0;
        border-color: #DEDFE0;
        &::placeholder {
            color: #999;
        }
    }
}

.flex-between_start {
    label {
        &:first-child {
            margin-top: 4px;
        }
    }
}