<!DOCTYPE html>
<html lang="en">

    include component/head.pug

<body>
    include component/header.pug

    // Body
    section.st-body
        .container.mb-50.blog-detail
            .wx-100.bg-white.pb-50
                .w-100.cat-title.d-flex.flex-center.flex-column
                    .blog-image(style="background-image: url('dist/img/Image 191.png')")
                    .heading Lorem ipsum dolor amet sit
                    .breadcrum.mt-10 Trang chủ / Blog / Lorem ipsum dolor …
            
            .wx-100.d-flex.blog-content-detail
                .col-2.d-none.d-sm-block
                .col-12.col-sm-8
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum eros odio, quis volutpat nisl mattis a. Fusce rhoncus turpis eget sem congue volutpat. Aenean sit amet volutpat arcu. Phasellus tristique malesuada lectus. Phasellus vitae turpis neque. Sed ultrices ipsum rhoncus, eleifend ligula bibendum, tempus elit. Donec molestie nunc ac felis ultrices, in mollis ipsum aliquam. Nulla dapibus sem sed tellus pellentesque, sed tincidunt felis efficitur. Quisque eleifend faucibus leo, id auctor enim suscipit vel. Vestibulum ut neque rhoncus, condimentum tellus vel, tincidunt diam.
                    img.w-100(src="dist/img/Image 188.png")
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum eros odio, quis volutpat nisl mattis a. Fusce rhoncus turpis eget sem congue volutpat. Aenean sit amet volutpat arcu. Phasellus tristique malesuada lectus. Phasellus vitae turpis neque. Sed ultrices ipsum rhoncus, eleifend ligula bibendum, tempus elit. Donec molestie nunc ac felis ultrices, in mollis ipsum aliquam. Nulla dapibus sem sed tellus pellentesque, sed tincidunt felis efficitur. Quisque eleifend faucibus leo, id auctor enim suscipit vel. Vestibulum ut neque rhoncus, condimentum tellus vel, tincidunt diam.
                .col-2.d-none.d-sm-block
            

    include component/footer.pug
</body>

</html>