<!DOCTYPE html>
<html lang="en">

    include component/head.pug

<body>
    include component/header.pug

    // Body
    section.st-body
        .container.mb-50
            .wx-100.bg-white.pb-50
                .w-100.cat-title.pt-30.pb-30.d-flex.flex-center.flex-column
                    .heading Blog
                    .breadcrum.mt-10 Trang chủ / Blog
            
            include component/grid-title-blog.pug
            include component/grid-title-blog.pug

            .flex-center.mt-50
                button.st-btn XEM THÊM 5 bài viết

    include component/footer.pug
</body>

</html>