<!DOCTYPE html>
<html lang="en">

    include component/head.pug

<body>
    include component/header.pug
    include component/banner-top.pug

    include component/home.pug

    include component/footer.pug
</body>

</html>