<!DOCTYPE html>
<html lang="en">

    include component/head.pug

<body>
    include component/header.pug

    include component/story.pug
    include component/count.pug
    include component/thanhvien.pug

    include component/footer.pug
</body>

</html>